sudo: required
language: php
php:
  - 7.4
services:
  - docker
addons:
  hosts:
    - api.fusio.cloud
before_install:
  - 'sed -i "s#image: fusio\/fusio#build: \.#g" docker-compose.yml'
install:
  - docker build --tag fusio/fusio:latest .
  - if [ "$TRAVIS_TAG" != '' ]; then docker build --tag fusio/fusio:$TRAVIS_TAG .; fi;
  - composer install
  - docker-compose up -d
  - 'while [[ $(curl -s -o /dev/null -w "%{http_code}" acme.com:8080) != "200" ]]; do sleep 5; done'
script:
  - vendor/bin/phpunit
before_deploy:
  - docker login -u "$REGISTRY_USER" -p "$REGISTRY_PASS"
deploy:
  - provider: script
    script: docker push fusio/fusio:latest
    on:
      branch: master
  - provider: script
    script: docker push fusio/fusio:$TRAVIS_TAG
    on:
      tags: true
      branch: master
